@model IEnumerable<ScraperFullStackMVC.Models.Stocks>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="header">Portfolio Snapshots</h2>
<br />


@using (Html.BeginForm("Index", "Stocks", FormMethod.Get))
{
    <b> Stock Search: </b>
    @Html.TextBox("Search") <input type="submit" name="submit" value="Search" class="btn-default" />
    <button class="btn-default">@Html.ActionLink("Clear Search Result", "Index")</button>
}

<br />
<button class="btn-default btn-lg">@Html.ActionLink("Scrape New Stock Data", "ScrapeYahoo", "Stocks")</button>
<br />
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.change)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pchange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marketcap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scrapetime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.change)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marketcap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scrapetime)
            </td>
            <td>
                <button class="btn-default">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
            </td>
        </tr>
    }
</table>
